html {
  background: #343335;
}

body {
  background: #343335;
}

.navbar.is-info {
    background-color: #fcb338;
    color: #fff;
}

.hero-body {
  background: #fcb338;
  padding: 200px;
}

.hero.is-light .title {
    color: white;
}

.navbar-link.is-active,
.navbar-link:hover,
a.navbar-item.is-active,
a.navbar-item:hover {
  background-color: white;
  color: #343335;
}

.navbar-link::after {
    border-color: #fff;
    margin-top: -.375em;
    right: 1.125em;
}

.subtitle {
  color: white;
}


.navbar.is-info .navbar-item.has-dropdown.is-active .navbar-link, .navbar.is-info .navbar-item.has-dropdown:hover .navbar-link {
    background-color: white;
    color: #343335;
}


.logo {
  width: 50%;
  margin: 0 auto;
}

.columns {
  width: 75%;
  margin: 0 auto;
}

.contact {
  width: 25%;
  margin: 0 auto;
}

.label {
  color: white;
}

.contactinfo {
  width: 25%;
  margin: 0 auto;
}

.is-small {
  color: white;
}

.resumetext {
  width: 50%;
  margin: 0 auto;
}

p {
  color: white;
}


/*portfolio 

h1{
  margin: 50px 0 30px;
  font-size: 3.5em;
  font-family: europa, 'Montserrat', sans-serif;
  color:whitesmoke;
  text-align:center;
  font-weight:300;
}


.card img{
  height:300px;
  transition: all .65s ease-in-out;
}


.portfolio{
  margin:0 auto;
  max-width:1600px;
  display:flex;
  justify-content:center;
  flex-wrap:wrap;
}

.card{
  margin:10px 20px;
  background: rgb(51, 51, 51);
  width:400px;
  height:350px;
}

.card h4{
  font-family: europa, 'Montserrat', sans-serif;
  font-weight:250;
  letter-spacing:1px;
  color:white;
  text-align:center;
  margin-top:15px;
}

.portfolio a{
  height: 390px;
} 

new portfolio css */



.workportfolio{
  margin: 10px auto;
  width: 30%;
  min-width: 300px;
  overflow: hidden;
  display: block;
  position: relative;
  transition: .5s;
  border-radius: 30px;
  
  img {
    display: block;
    object-fit: contain;
    width: 102%;
    border-radius: 30px;
    filter: brightness(100%);
    transition: .5s;
    will-change: transform;
  }
  
  figcaption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(2);
    filter: blur(5px);
    color: white;
    opacity: 0;
    transition: .5s;
    width: 70%;
    text-align: center;
    
    h4 {
      position: relative;
      display: inline-block;
      text-align: center;
      &::after {
        content: " ";
        width: 0%;
        position: absolute;
 
        left: 50%;
        bottom: 0%;
        transition: .5s;
      }
    }

  }
}

.workportfolio:hover {  
  img {
    z-index: -1;
    filter: brightness(30%) blur(3px);
    transform: scale(2);
  }
  
  figcaption{
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
    filter: blur(0px);
    z-index:1;
    
    h4::after {
      width: 100%;
      left: 0%;
      bottom: -15%;
    }
  }
}
