{% include head.html %}
{% include header.html %}


<main class="content">

        <nav class="leftright">
                <h1 class="resumeheading">Work Experience</h1>
                  <h2 class="resumetitle">Eastern Washington University Libraries</h2>
                    <h3 class="resumesubtitle">Graphics Artist</h3>
                      <h4 class="resumedate">June 2017 - Present</h4>
                        <p>Managed the vehicle dealer website process from conception to completion. This included the design of dealer websites, templates, window stickers, logos, and maintenance of the department’s extensive image collection.</p>
            </nav>
          
            <nav class="leftright">
                 <h1 class="resumeheading">Skills</h1>
                  <h3 class="resumesubtitle">Design</h3>
                <h3 class="resumesubtitle">Design</h3>
                
                <h1 class="resumeheading">Education</h1>
                  <h2 class="resumetitle">Eastern Washington University</h2>
                    <h3 class="resumesubtitle">3.93 GPA</h3>
                      <h4 class="resumedate">Sept. 2016 - June 2018</h4>
                        <p>Bachelor of Arts in Visual Communication Design</p> 
                <p>Certificate in User Experience Design</p>
            </nav>
          
          

</main>

{% include foot.html %} 