{% include head.html %}
{% include header.html %}


<main class="resume content">

  <div class="row">
    <div class="col-xs-12 col-md-6" id="workExp">
      <!-- Carsforsale.com -->
      <h1 class="resumeheading">Work Experience</h1>
        <h2 class="resumetitle">Eastern Washington University Libraries</h2>
          <h3 class="resumesubtitle">Graphics Artist</h3>
            <h4 class="resumedate">June 2017 - Present</h4>
              <p>Managed the vehicle dealer website process from conception to completion. This included the design of dealer websites, templates, window stickers, logos, and maintenance of the department’s extensive image collection.</p>
 </div>

    <div class="col-xs-12 col-md-6">
      <h1 class="resumeheading">Skills</h1>
        <h3 class="resumesubtitle">Design</h3>
      <h3 class="resumesubtitle">Design</h3>
      
      <h1 class="resumeheading">Education</h1>
        <h2 class="resumetitle">Eastern Washington University</h2>
          <h3 class="resumesubtitle">3.93 GPA</h3>
            <h4 class="resumedate">Sept. 2016 - June 2018</h4>
              <p>Bachelor of Arts in Visual Communication Design</p> 
      <p>Certificate in User Experience Design</p>
    </div>
  </div>

  <div class="contact">

   <h1 class="resumetitle">Contact</h1>
      <p class="subtitle">
          2441 W Cats Rd<br />
          Pasco, WA 99301<br />
        <a href="tel:1-605-261-9968">509.555.5555</a><br />
        <a target="_blank" href="http://www.cassiegalvez.com">www.CassieGalvez.com</a><br />
        <a href="mailto:email@cassiegalvez.com">email@cassiegalvez.com</a><br /></p>

                </div>
</div>
</div>

</main>

{% include foot.html %} 